
<main >
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Eventos</h1>
                <p class="lead text-muted">Su buzón de eventos proporciona un fácil acceso para revisar los eventos a los que sus amigos lo han invitado. También puede crear sus propios eventos desde aqui.</p>
                <p>
                <a href="/add-events" class="btn btn-primary my-2">Crear evento</a>         
                </p>
            </div>
        </div>
     </section>
  <div class="row">
    <div id="container-html" class="col-8 offset-2">
        <div class="mt-3">
            <div class="card">
                <div class="m-4">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Invitado</button>
                            <button class="nav-link" id="nav-created-tab" data-bs-toggle="tab" data-bs-target="#nav-created" type="button" role="tab" aria-controls="nav-created" aria-selected="false">Creados</button>
                        </div>
                    </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                klk1
                            </div>
                            <div class="tab-pane fade" id="nav-created" role="tabpanel" aria-labelledby="nav-created-tab">
                                klk2
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>