
<head>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/assets/css/estilos-login.css">
</head>

        <main>

            <div class="contenedor__todo">
                <div class="caja__trasera">
                    <div class="caja__trasera-login">
                        <h3>¿Ya tienes una cuenta?</h3>
                        <p>Inicia sesión para entrar en la página</p>
                        <button id="btn__iniciar-sesion" >Iniciar Sesión</button>
                    </div>
                    <div class="caja__trasera-register">
                        <h3>¿Aún no tienes una cuenta?</h3>
                        <p>Regístrate para que puedas iniciar sesión</p>
                        <button id="btn__registrarse">Regístrarse</button>
                    </div>
                </div>

                <!--Formulario de Login y registro-->
                <div class="contenedor__login-register">
                    <!--Login-->
                    <form action="/login" class="formulario__login" method="POST" >
                        <div><br></div>
                            <h2>Iniciar Sesión</h2>
                            <input type="text" placeholder="Usuario" name="LogUsuario">
                            <input type="password" placeholder="Contraseña" name="Contrasena">
                            <button type="submit">Entrar</button>
                         <div><br></div>
                    </form>

                    <!--Register-->
                    <form name="Registrar" action="create-usuario" class="formulario__register" method="post" enctype="multipart/form-data">
                        <h2>Regístrarse</h2>
                        <input type="text" placeholder="Nombre" name="Nombre">
                        <input type="file" name="Img">
                        <input type="text" placeholder="Correo" name="Correo">
                        <input type="text" placeholder="Usario" name="Usuario">
                        <input type="password" placeholder="Contraseña" name="Contrasena">
                        <input type="password" placeholder="Confirmar Contraseña" name="Ccontrasena">
                        <button type="submit">Registrar</button>
                    </form>
                </div>
               
            </div>

            <div></div>
            <div></div>
        </main>
      

        
